In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import scipy.stats as stats
import math

In [4]:
filename = "CSV-PP-Data.csv"
data = pd.read_csv(filename,index_col=0, encoding = "ISO-8859-1",  sep=';')
data.head(9)

           Char Team Pos       Date  SessionNum Win
Name
Lukas      Otto    S   S  12.3.2023           1   F
Lukas  Benjamin    O   O  12.3.2023           1   F
Lukas    Andrej    O   O  12.3.2023           1   F
Lukas   PlagueB    O   O  12.3.2023           1   F
Lukas       Moe    S   S  12.3.2023           1   F
Lukas      Jose    S   S  12.3.2023           1   F
Lukas     Flint    S   V  28.3.2023           2   F
Lukas      Iris    B   B  28.3.2023           2   T
Lukas   Sigmund    O   O  28.3.2023           2   F

In [5]:
data = data.reset_index(col_fill='Name')

In [6]:
players = ['Lukas', ]

    Name      Char Team Pos       Date  SessionNum Win
0  Lukas      Otto    S   S  12.3.2023           1   F
1  Lukas  Benjamin    O   O  12.3.2023           1   F
2  Lukas    Andrej    O   O  12.3.2023           1   F
3  Lukas   PlagueB    O   O  12.3.2023           1   F
4  Lukas       Moe    S   S  12.3.2023           1   F